@font-face {
    font-family: "KXRh";
    src: url("./font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.kxrh {
    font-family: "KXRh", sans-serif;
}